{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/comic-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section>
  <div>
    <img 
      src="{% static 'images/comic-page.png' %}" 
      alt="comic page"
      class="page"
    >
  </div>
</section>
  
<div>
  <div>
    <h2>{{ comic.title }}</2>
    <h3>Issue #{{ comic.issue }}</h3>
    <h4>A comic published by {{ comic.publisher }} </h4>
  </div>
</div>
<a href="{% url 'comics_update' comic.id %}" class="btn warn">Edit</a>
<a href="{% url 'comics_delete' comic.id %}" class="btn danger">Remove</a>

{% endblock %}