{% extends 'base.html' %}

{% block content %}

<h1>About this Action Figure Collector</h1>
<hr />
<p>
  I started collecting Spawn action figures and comics through eBay, on dial-up, in the nineties. Eventually, I found local shops and collectors I could help support, using the internet. Today, if I want to buy action figures from the nineties, I still have to go to eBay. Ef that noise. Hopefully, this will be a step in the other direction. Also, I am currently job seeking!
</p>

{% endblock %}