{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/figure-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Action Figure List</h1>
  <img src="{% static 'images/mcfarlane.png' %}" alt="mcfarlane" />
  <img src="{% static 'images/dc.png' %}" alt="dc" />
  <img src="{% static 'images/hasbro.png' %}" alt="hasbro" />
  <img src="{% static 'images/unruly-industries.png' %}" alt="unruly" />
</section>

<section class="card-container">
  {% for figure in figures %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/af-silho.png' %}" 
            alt="figure"
            class="usr-img"
          >
        </div>
        <h2 class="card-title">{{ figure.name }}</h2>
        {% if figure.scale > 0 %}
          <p>{{ figure.scale }} inch scale {{ figure.brand }}</p>
        {% else %}
          <p>A {{ figure.brand }} miniature.</p>
        {% endif %}
        <p><small>{{ figure.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %} 